

<div class="go" ng-click="GO()" ng-hide="displayChoose || displayBoard">GO!</div>

  <div ng-show="displayChoose">
    <div class="solo" ng-click="SOLO()"><a class="btn btn-floating pulse red lighten-1">
      <i class="material-icons">person</i></a></div>
    <div class="vs" ng-click="VS()"><a class="btn btn-floating pulse red lighten-1">
      <i class="material-icons">people</i></a></div>
  </div>


<div ng-show="displayBoard">
	<div class="board"></div>

	<div class="score">
		<span>0</span>
		<div class="next-tetrimino"></div>
		<small><span>0</span> lignes</small>
	</div>
</div>
